# unnecessary directories
StatisticalImages/
NoteBooks/
Helper/
Analytics/
PreProcessedDataSet_for_ML/
Features/


# Exclude documentation files
*.md
*.pdf
*.docx

# Exclude environment configuration files (if sensitive data is inside)
<!-- .env -->


# Exclude Git-related files
.git/
.gitignore

# Exclude Python bytecode and cache files
*.pyc
__pycache__/
