# unnecessary directories
StatisticalImages/
NoteBooks/
Helper/
Analytics/

# Exclude documentation files
*.md
*.pdf

# Exclude environment configuration files (if sensitive data is inside)
.env

# Exclude Git-related files
.git/
.gitignore

# Exclude Python bytecode and cache files
*.pyc
__pycache__/
