# Database related
mysql-connector-python
sqlalchemy
pymysql

# Data manipulation and processing
pandas
numpy

# Audio processing
librosa
soundfile
noisereduce
pydub
scipy

# Machine learning
scikit-learn

# Data visualization
matplotlib
seaborn